
.claim-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.claim {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border: #f4f4f4 1px solid;
    border-radius: 5px;
    padding: 1rem;
    background-color: aqua;

}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}