body {
  font-family: Fira Sans;
}

.heading {
  text-align: center;
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 1.5rem;
  color: #444444;
}

.form-container {
  margin: 1.5rem auto;
  border: 2px solid #f43300;
  padding: 1rem;
  width: 80%;
  max-width: 32rem; /* Or whatever width you prefer */
  align-items: center;
}

.form-group {
  padding-bottom: 0.5rem;
}

label {
  width: max-content;
  font-size: 0.7rem;
  font-weight: bold;
  color: #444444;
}

input {
  margin-top: 0.1rem;
  font-family: Fira Sans;
  font-size: 0.7rem;
  width: 100%;
  padding: 0.2rem;
}

.date-picker {
  margin-bottom: 0.6rem;
}

.consent-statement {
  color: #898989;
  font-size: 0.6rem;
}

.btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #c91500;
  border-color: #c91500;
  margin: 0.5rem auto;
  padding: 0.2rem;
  font-weight: bold;
}

.btn-success:hover {
  background-color: #ff4d00;
  transition: 0.7s;
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #444444;
}

textarea {
  font-size: 0.7rem;
  font-family: Fira Sans;
  width: 100%;
}

/* Media query for desktop */
@media screen and (min-width: 55rem) {
  label {
    font-size: 1rem;
  }

  textarea {
    font-size: 1rem;
  }

  .consent-statement {
    font-size: 0.8rem;
  }

  .btn-success {
    padding: 0.4rem;
  }

  input {
    font-size: 1rem;
  }
}
